joblib
matplotlib==2.2.2
numpy==1.14.3
numpydoc==0.8.0
path.py==11.0.1
pystoi==0.2.1
tensorboard==1.12.2
tensorflow-gpu==2.6.4
torch==1.0.1.post2
torchvision==0.2.1
tqdm==4.31.1
librosa==0.6.3
yacs==0.1.6